// Some Margins Class
@import "mixins";
@import "variables";
@import "common";
body {
  background: #f4f4f4;
  font-family: $theme-font;
  overflow-x: hidden;
}

// CSS For Layout

.main-layout {
  @include flexbox;

  .col-1 {
    width: 15%;
    flex: 0 0 auto;
  }
  .col-2 {
    width: 85%;
    flex: 0 0 auto;
    padding: 0 15px;

    .content-wrapper {
      width: 100%;
    }
  }
}

// Mobile Sidebar
.sidenav {
  width: 100%;
  height: 100%;
  z-index: 0;
  .sidenav-header {
    width: 300px;
    background: $wcolor;
    //border-bottom: 1px solid #ddd;
    font-size: 25px;
    padding: 15px;
    text-align: right;
  }
  .sidenav-content {
    width: 300px;
    height: 100%;
    background: $wcolor;
    .categories-list {
      max-height: 500px;
      overflow-y: auto;
      margin-bottom: 0;
      li {
        background-color: transparent;
        @include box-shadow(none);
        border: 0;
        border-top: 1px solid #ddd;
        @include border-radius(0);
        margin-bottom: 0;
        .category-link {
          @include flexbox;
          @include align-items(center);
          @include justify-content(space-between);
          .change-icon {
            display: block;
            padding: 13px;
          }
        }
        a {
          display: inline-block;
          font-size: 16px;
          padding: 10px;
        }
        .second-category {
          ul {
            li {
              a {
                padding-left: 20px;
              }
            }
          }
        }
        .third-category {
          ul {
            li {
              a {
                padding-left: 30px;
              }
            }
          }
        }
      }
    }
    .other-links {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 0 20px;
      ul {
        margin: 0;
        li {
          margin: 15px 0;
          a {
            color: $bcolor;
            text-transform: capitalize;
            @include transition(all, 0.5s, ease);
            &:hover {
              color: $theme-color;
            }
          }
        }
      }
    }
    .contact-info {
      @extend .other-links;
      border-top: 0;
    }
    .social-links {
      padding: 15px 20px;
      ul {
        li {
          display: inline-block;
          margin-right: 20px;
          a {
            color: $bcolor;
            font-size: 18px;
            @include transition(all, 0.5s, ease);
            &:hover {
              color: $theme-color;
            }
          }
        }
      }
    }
  }
  .sidenav-overlay {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    @include opacity(0);
    z-index: -1;
  }
}

.show-sidenav {
  left: 0 !important;
  @include transition(left, 0.5s, linear);
}

.header {
  position: relative;
  width: 100%;
  background: $wcolor;
  @include box-shadow(0 0 4px #666);
  padding: 10px 0;
  z-index: 50;
  .content-wrapper {
    @include justify-content(space-between);
  }
  .sidenav-toggle {
    display: none;
    span {
      display: block;
      width: 26px;
      height: 2px;
      background: $bcolor;
      margin-top: 4px;
    }
  }
  .logo {
    img {
      margin: 0 auto;
    }
  }
  .offer-text {
    flex: 0.8;
    color: $gcolor;
    font-size: 20px;
    text-align: center;
  }
  .searchbox-holder {
    flex: 0.8;
    display: none;
  }
  .header-icon {
    position: relative;
    @include justify-content(flex-end);
    @include transition(all, 0.3s, ease);
    div {
      position: relative;
      width: 110px;
      cursor: pointer;
      padding: 5px 0;
      text-align: center;

      .wishlist-count {
        position: absolute;
        top: 0;
        right: 25px;
        width: 20px;
        height: 20px;
        background: $theme-color;
        border-radius: 50%;
        color: $wcolor;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        font-size: 12px;
      }
    }
  }
}

.menu-on-scroll {
  @include position-fixed;
  @include animation(slide-down 2s ease);
}

.footer {
  background: $wcolor;
  margin-top: 10px;
  .footer-content {
    padding: 20px 15px;
    .footer-header {
      color: $theme-color;
      font-size: 18px;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 10px;
      text-transform: capitalize;
    }
    p {
      color: $gcolor;
    }
    .footer-link {
      overflow: hidden;
      li {
        margin-bottom: 10px;
        a {
          color: $gcolor;
          text-transform: capitalize;
          @include transition(all, 0.5s, ease);
        }
        &:hover {
          a {
            color: $theme-color;
          }
        }
      }
    }
    .newsletter {
      margin: 15px 0;
      .form-control {
        height: 42px;
        box-shadow: none;
      }
      button {
        height: 42px;
        background: $theme-color;
        border: 1px solid $theme-color;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);

        svg {
          fill: $wcolor;
        }
      }
    }
    .social-link {
      a {
        svg {
          fill: $bcolor;
          margin: 0 10px;
          @include transition(fill, 0.5s, ease);
        }
        &:hover {
          svg {
            fill: $theme-color;
          }
        }
      }
    }
  }
}

.copyright {
  background: $wcolor;
  padding: 15px;
  .content-wrapper {
    .row {
      @include flexbox;
      @include align-items(center);
    }
  }
  p {
    color: $bcolor;
    margin-bottom: 0;
    span {
      text-transform: capitalize;
    }
  }
}

.scrollup {
  position: fixed;
  right: 12px;
  bottom: 135px;
  height: 40px;
  width: 40px;
  background: $theme-color;
  border: 0;
  border-radius: 100%;
  box-shadow: none;
  text-align: center;
  font-size: 25px;
  color: $wcolor;
  cursor: pointer;
  display: none;
  line-height: 52px;
  z-index: 9;
  svg {
    fill: $wcolor;
  }
  &:hover,
  &:focus {
    background: $theme-color;
    @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
  }
}

.mini-cart {
  position: fixed;
  top: 50%;
  right: 0;
  width: 65px;
  background: $theme-color;
  @include box-shadow(0 0 16px -1px rgba(0, 0, 0, 0.75));
  color: $wcolor;
  cursor: pointer;
  @include opacity(0.7);
  @include transition(all, 0.5s, ease);
  text-align: center;
  z-index: 120;

  div {
    padding: 5px 5px 0 5px;
  }
  .cart-count {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .cart-total {
    background: #ebebeb;
    color: $gcolor;
    font-weight: 600;
    padding-bottom: 5px;
  }

  &:hover {
    @include opacity(1);
    @include transition(all, 0.5s, ease);
  }
}

.sidebar-cart-holder {
  .sidebar-cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 350px;
    height: 100%;
    background: $wcolor;
    @include box-shadow(-2px 0 12px 0 rgba(143, 143, 143, 143.35));
    @include transition(right, 0.5s, linear);
    z-index: 150;

    .cart-header {
      .promotional-text {
        background: $theme-color;
        color: $wcolor;
        font-size: 18px;
        padding: 10px;
        text-align: center;
        text-transform: capitalize;
      }
      .count-close {
        @include justify-content(space-between);
        padding: 10px;

        .item-count {
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
        }
        .sidecart-close-button {
          border: 1px solid $bcolor;
          cursor: pointer;
          font-size: 14px;
          padding: 5px 10px;
          text-transform: capitalize;
        }
      }
    }
    .cart-content {
      overflow-y: auto;
      .cart-item {
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        padding: 10px;

        .quantity {
          text-align: center;

          div:not(.input-number) {
            cursor: pointer;
          }
        }
        .photo {
          flex: 0.2;
        }
        .info {
          flex: 0.6;
          p {
            color: $gcolor;
            font-size: 13px;
            margin-bottom: 0;
          }
        }
        .price {
          color: red;
          font-size: 13px;
        }
        .remove {
          cursor: pointer;
        }
      }
    }
    .cart-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      border-top: 1px solid #ddd;
      padding: 15px 10px;
      text-align: center;
      text-transform: capitalize;

      a {
        color: $wcolor;
        display: inline-block;
        padding: 13px 26px;
      }
      a:first-child {
        background: lighten($theme-color, 5%);
      }
      a:last-child {
        background: darken($theme-color, 10%);
      }
    }
  }

  .sidebar-cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    @include opacity(0);
    @include transition(opacity, 0.5s, linear);
    z-index: 100;
  }
}

.show-sidebar-cart {
  .sidebar-cart {
    right: 0;
    @include transition(right, 0.5s, linear);
  }
  .sidebar-cart-overlay {
    display: block;
    @include opacity(1);
    @include transition(opacity, 0.5s, linear);
  }
}
.mobile-search-box {
  @include position-fixed;
  background: $wcolor;
  display: none;
  padding: 15px 10px;
  transform: translateY(-100%);
  @include transition(transform, 0.4s, linear);
  z-index: 150;
}
.footer-fixed-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $wcolor;
  display: none;
  @include align-items(center);
  @include justify-content(space-between);
  padding: 15px;
  transform: translateY(100%);
  @include transition(transform, 0.4s, linear);
  z-index: 100;

  div {
    cursor: pointer;
  }
  .fixed-nav-cart-icon {
    position: relative;
    .cart-count {
      position: absolute;
      top: -5px;
      right: 0;
      width: 20px;
      height: 20px;
      background: $theme-color;
      border-radius: 50%;
      color: $wcolor;
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      font-size: 12px;
    }
  }
}

// Custom CSS scrollbar For Search Suggestion

/* width */

.searchbox div::-webkit-scrollbar {
  width: 3px;
}

/* Track */

.searchbox div::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

.searchbox div::-webkit-scrollbar-thumb {
  background: $bcolor;
}

/* Handle on hover */

.searchbox div::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.searchbox-holder {
  .searchbox {
    .form-control {
      height: 50px;
      border: 1px solid $theme-color;
      border-radius: 0;
      @include box-shadow(none);
      @include placeholder {
        color: $gcolor;
        font-size: 15px;
        //font-weight: 600;
      }
    }
    button {
      height: 50px;
      background: $theme-color;
      border: 1px solid $theme-color;
      border-radius: 0;
      @include box-shadow(none);
      color: $wcolor;
      font-size: 20px;
      margin-left: 0;
      padding: 10px 15px;
      text-transform: capitalize;
      svg {
        fill: $wcolor;
      }
      &:focus {
        outline: 0;
      }
    }
  }
}

.suggestion {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  width: 95%;
  background: $wcolor;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  display: none;
  margin: 0 auto;
  z-index: 125;
  .sheader {
    position: sticky;
    top: 0;
    background: #efefef;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 15px;
    text-transform: uppercase;
  }
  .stext {
    max-height: 210px;
    overflow-y: auto;
    padding: 10px 15px;
    a {
      display: block;
      color: $bcolor;
      font-size: 15px;
      margin-bottom: 10px;
      &:hover {
        color: $theme-color;
      }
    }
  }
  .media {
    margin-bottom: 15px;
    a {
      color: $bcolor;
    }
    p:last-child {
      margin-bottom: 0;
    }
    .media-body {
      h5 {
        margin-top: 0;
      }
    }
  }
  .no-search-result {
    p {
      margin: 0;
      padding: 10px 0;
    }
  }
}

// **********************************
// CSS For Index Page
.home-main-banner {
  .banner-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    @include flexbox;
    @include align-items(center);
    @include flex-direction(column);
    @include justify-content(center);

    .searchbox-holder {
      width: 55%;
    }
  }
}

.home-categories {
  .content-wrapper {
    background: $wcolor;
    padding: 0;
  }
  .home-categories-content {
    padding: 15px;
  }
}

.home-ad-banner {
  .content-wrapper {
    background: $wcolor;
    @include flexbox;
    padding-top: 15px;
  }
  .ad-image {
    margin-left: 15px;
    margin-bottom: 15px;
    overflow: hidden;
  }
  .ad-image:last-child {
    margin-right: 15px;
  }
}

.home-collection-slider {
  .content-wrapper {
    background: $wcolor;
  }

  .home-collection-slider-header {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    padding: 15px 15px 0 15px;

    .text {
      font-size: 20px;
      text-transform: capitalize;
    }
    .link {
      @extend .text;
      background: $theme-color;
      font-size: 15px;
      padding: 5px 10px;

      a {
        color: $wcolor;
      }
    }
  }
  .home-collection-slider-content {
    padding-right: 10px;
  }
}

.home-services {
  background: $wcolor;
  .content-wrapper {
    padding-top: 15px;
  }
  .home-services-content {
    @include flexbox;
    .service-box {
      flex: 0 0 25%;
      border-right: 1px solid #f4f4f4;
      padding: 20px 10px;
      text-align: center;
      .icon {
        svg {
          fill: $theme-color;
        }
      }
      .text {
        h4 {
          color: #505050;
          font-size: 17px;
          font-weight: 400;
          text-transform: uppercase;
        }
        p {
          color: #b7b7b7;
          margin-bottom: 0;
          text-transform: capitalize;
        }
      }
    }
    .service-box:last-child {
      border-right: 0;
    }
  }
}

// CSS For Collection Page
.collection {
  .collection-content {
    .filter-col {
      position: sticky;
      top: 75px;
      padding-right: 5px;
      margin-bottom: 10px;
    }
    .collection-filter {
      background: $wcolor;
      .filters {
        .filters-header {
          padding: 15px;
          .filter-text {
            font-size: 18px;
            text-transform: capitalize;
          }
        }
        .filters-content {
          .filter-option {
            border-top: 1px solid #ddd;
            padding: 10px 15px;
            .name {
              font-size: 15px;
              text-transform: uppercase;
            }
            .option {
              .checkbox {
                label {
                  font-size: 14px;
                  text-transform: capitalize;
                }
              }
            }
          }
        }
      }
    }
    .collection-info-col {
      padding-left: 5px;
    }
    .collection-banner {
      margin-bottom: 10px;
    }
    .collection-info {
      background: $wcolor;
      .collection-name {
        padding: 15px;
        text-align: center;
        h3 {
          font-size: 22px;
          font-weight: 400;
          margin: 0;
          text-transform: capitalize;
          .collection-count {
            color: $gcolor;
          }
        }
      }
      .sort-mFilter {
        .sort {
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          padding: 10px 15px;
          .sort-label {
            @include flexbox;
            @include align-items(center);
            color: $gcolor;
            margin-right: 15px;
            text-transform: capitalize;

            .text {
              margin-right: 5px;
            }
            select {
              width: auto;
              border-radius: 0;
              box-shadow: none;
            }
          }
        }
        .mFilter {
          display: none;
        }
      }
      .collection-products {
        padding: 10px 20px 0 20px;
        .product-box {
          margin-bottom: 10px;
        }
      }
    }
  }
}

// CSS For Wishlist
#wishlist-content {
  .collection-info-col {
    padding-left: 15px;
  }
}

// CSS For Product Details Page
.product-details-page {
  padding: 15px 0;
  .product-image {
    background: $wcolor;
    padding: 15px;
    .thumb-control {
      img {
        height: 80px;
        margin-top: 10px;
        margin-right: 10px;
      }
    }
  }
  .product-details {
    .col-md-6 {
      padding-left: 0;
      padding-right: 0;
    }
    .product-description {
      background: $wcolor;
      padding: 15px;
      .name {
        @include justify-content(space-between);
        h4 {
          color: $gcolor;
          font-weight: 400;
          margin-top: 0;
          text-transform: capitalize;
        }
      }
      .rating-status {
        border-bottom: 1px dashed #ccc;
        margin-bottom: 10px;
        padding-bottom: 10px;
        i {
          color: $glcolor;
          margin-right: 2px;
        }
        .rating-count {
          color: $gcolor;
          font-size: 10px;
          letter-spacing: 2px;
          margin-left: 5px;
        }
      }
      .price {
        border-bottom: 1px dashed #ccc;
        margin-bottom: 10px;
        .old-price {
          color: $gcolor;
          font-size: 15px;
          font-weight: 400;
          margin-bottom: 5px;
        }
        .current-price {
          color: $bcolor;
          font-size: 18px;
          font-weight: 500;
          @include opacity(0.7);
        }
        p {
          margin-top: 10px;
        }
      }
      .stock-status {
        border-bottom: 1px dashed #ccc;
        padding-bottom: 10px;
      }
      .quantity-row {
        border-bottom: 1px dashed #ccc;
        padding-bottom: 10px;
        margin: 10px 0;
        label {
          font-weight: 400;
          margin-bottom: 10px;
          text-transform: capitalize;
        }
        .quantity-box {
          @include flexbox;
          .btn-quantity {
            height: 40px;
            width: 40px;
            background: $wcolor;
            border: 1px solid #ccc;
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
          }
          .quantity-input {
            flex: 0.06;
            height: 40px;
            border-right: 0;
            border-left: 0;
            @include border-radius(0);
            @include box-shadow(none);
            text-align: center;
          }
        }
      }
      .buttons-icons {
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);

        .buttons {
          width: 80%;
          @include flexbox;
          @include align-items(center);
          @include justify-content(space-between);
          button {
            width: 100%;
            border-radius: 20px;
            margin-right: 10px;
            padding: 10px 15px;
            text-transform: uppercase;
          }
        }
        .icons {
          a {
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            height: 35px;
            width: 35px;
            background: $wcolor;
            border: 1px solid $theme-color;
            border-radius: 50%;
            margin-right: 10px;
            @include transition(all, 0.4s, linear);

            svg {
              path {
                fill: $theme-color;
                @include transition(all, 0.4s, linear);
              }
            }

            &:hover {
              background: $theme-color;
              @include transition(all, 0.4s, linear);

              svg {
                path {
                  fill: $wcolor;
                  @include transition(all, 0.4s, linear);
                }
              }
            }
          }
        }
      }
    }
    .delivery-text {
      background: $wcolor;
      padding: 15px;
      .delivery-option {
        margin-bottom: 15px;
        .del-header {
          @include justify-content(space-between);
          border-bottom: 1px solid #ddd;
          padding-bottom: 10px;
          text-transform: capitalize;
        }
        .del-content {
          padding-top: 10px;

          p {
            text-transform: capitalize;

            i,
            svg {
              font-size: 18px;
              margin-right: 10px;
            }
          }

          .text-icon {
            @include flexbox;
            @include align-items(center);
            @include justify-content(space-between);
          }
        }
      }
    }
  }
  .related-products {
    padding: 20px 0;
    .related-products-header {
      h3 {
        text-transform: capitalize;
      }
    }
    .related-products-content {
      background: $wcolor;
      .related-product-slider {
        .slick-prev {
          left: -15px;
          z-index: 10;
        }
        .slick-next {
          right: -15px;
          z-index: 10;
        }
        .slick-prev:before,
        .slick-next:before {
          color: $bcolor;
        }
      }
    }
  }
}

.zoomLens {
  display: none !important;
}

// CSS For Review Modal
.review-form {
  div {
    margin-bottom: 10px;
  }
  .rating-star {
    .stars {
      i {
        color: $glcolor;
        cursor: pointer;
      }
    }
  }
  .form-control {
    @include border-radius(0);
    @include box-shadow(none);
    &:focus {
      border-color: #ccc;
      outline: 0;
    }
  }
  .error {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
  }
  .review-comment {
    textarea {
      width: 100%;
      border: 1px solid #ccc;
      @include border-radius(0);
      display: block;
      &:focus {
        border-color: #ccc;
        outline: 0;
      }
    }
  }
}

.review-list {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 10px;
  .user-review-list {
    @include flexbox;
    @include flex-wrap(wrap);
    .review-user {
      //width: 33%;
      @include box-shadow(0 0 5px rgba(0, 0, 0, 0.2));
      @include flexbox;
      //margin-right: 15px;
      margin-bottom: 10px;
      padding: 10px;
      .review-user-info {
        .photo {
          img {
            max-height: 75px;
          }
        }
        //margin-right: 15px;
      }
    }
  }
}

// ************************************

// CSS For Brand List Page
.brand-list {
  .page-info {
    height: 290px;
    background: #f2f2f2;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    flex-flow: column;
    margin-bottom: 20px;
    h2 {
      font-weight: 600;
      text-transform: uppercase;
    }
    a {
      color: inherit;
    }
  }
  .brand-list-content {
    .brand-box {
      background: #f2f2f2;
      @include box-shadow(0 0 2px rgba(0, 0, 0, 0.4));
      margin-bottom: 15px;
      padding: 15px;
      text-align: center;
      .image {
        img {
          height: 150px;
          margin: 0 auto;
        }
      }
      .name {
        margin-top: 10px;
        a {
          font-size: 18px;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
  }
}

// *********************************
// CSS For Customer Page
#wish_list_customer_product_index {
  .btn-search {
    height: 34px;
  }
}

// ************************************
// CSS For Forgot Password Page
.customer-password {
  width: 30%;
  padding: 5% 0;
  h2 {
    color: $theme-color;
    margin-bottom: 20px;
    text-align: center;
  }
  label {
    color: #b2b3b5;
    font-weight: 400;
  }
  .form-control {
    height: 45px;
    border: 1px solid #b2b3b5;
    @include border-radius(0);
    @include box-shadow(none);
    color: $bcolor;
    padding-left: 60px;
    @include placeholder() {
      color: #b2b3b5;
      font-size: 15px;
    }
    &:focus {
      border: 1px solid $bcolor;
      outline: 0;
      padding-left: 20px;
      @include box-shadow(none);
    }
  }
  .actions {
    input {
      background: $theme-color;
      border: 1px solid $theme-color;
      @include border-radius(0);
      color: $wcolor;
      display: block;
      font-size: 15px;
      padding: 9px 14px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  a {
    display: none;
  }
}

// ************************************
// CSS For Checkout Page
#store_checkout_main {
  margin-top: 15px;
  #login_container {
    .panel {
      @include border-radius(0);
      .panel-heading {
        .anchor_color {
          color: $theme-color;
        }
      }
      .panel-body {
        .form-control {
          height: 42px;
          border: 1px solid #b2b3b5;
          @include border-radius(0);
          @include box-shadow(none);
          color: $bcolor;
          @include placeholder() {
            color: #b2b3b5;
            font-size: 15px;
          }
          &:focus {
            border: 1px solid $bcolor;
            outline: 0;
            @include box-shadow(none);
          }
        }
        a {
          height: 42px;
          background: $theme-color;
          border: 1px solid $theme-color;
          color: $wcolor;
          @include border-radius(0);
          display: inline-block;
          margin-top: 10px !important;
          padding: 9px 14px;
          text-align: center;
        }
      }
    }
  }
  #checkout_container {
    .form-control {
      height: 42px;
      border: 1px solid #b2b3b5;
      @include border-radius(0);
      @include box-shadow(none);
      color: $bcolor;
      @include placeholder() {
        color: #b2b3b5;
        font-size: 15px;
      }
      &:focus {
        border: 1px solid $bcolor;
        outline: 0;
        @include box-shadow(none);
      }
    }
    button {
      height: 42px;
      background: $theme-color;
      border: 1px solid $theme-color;
      color: $wcolor;
      @include border-radius(0);
      display: inline-block;
      padding: 9px 14px;
      text-align: center;
    }
  }
}

// ************************************
// CSS For Contact Us Page
.contact-us {
  .new_message {
    .form-control {
      height: 42px;
      border: 1px solid #b2b3b5;
      @include border-radius(0);
      @include box-shadow(none);
      color: $bcolor;
      @include placeholder() {
        color: #b2b3b5;
        font-size: 15px;
      }
      &:focus {
        border: 1px solid $bcolor;
        outline: 0;
        @include box-shadow(none);
      }
    }
    .btn {
      height: 42px;
      background: $theme-color;
      border: 1px solid $theme-color;
      color: $wcolor;
      @include border-radius(0);
      display: inline-block;
      padding: 9px 14px;
      text-align: center;
    }
  }
}

// ************************************
